:root{
    font-family: 'EB Garamond', serif;
}


  /* visited link */
  a:visited {
    color: gray;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  a:link {
    text-decoration: none;
  }

body{
    display:flex;
    vertical-align: baseline;
    width:100vw;
    height:100vh;
    overflow: hidden;
    color: rgba(31, 31, 31, 1);
}

.side{
    display:flex;
    background: url(media/leaves.jpeg) center no-repeat;
    background-size: cover;
    height: 100vh;
    width:35vw;
    flex-basis: 1;
    justify-content: center;
}

.text{
    font-weight: 500;
    font-size: 1.7em;
    max-width: 45vw;
    line-height: 30px;
}

.image-description{
    margin-top:auto;
    margin-bottom:10px;
    color:white;;
    font-weight: bold;
}

.overlay{
    position:absolute;
    left:250px;
    top:300px;
    width:200px;
    height:auto;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

.form-inputs{
    display:flex;
    gap:180px;
}

input{
    padding:7px;
    min-width: 150px;
    border-radius: 6px;
    border-color: rgba(191, 191, 191, .5);
}

*, *:before, *:after {
    box-sizing: border-box;
  }

.firstColumnForms, .secondColumnForms{
    display:flex;
    flex-direction:column;
    width:fit-content;
    gap:20px;
}

.firstColumnForms > div, .secondColumnForms > div {
    display:flex;
    flex-direction:column;
    gap:5px;
}

label {
   font-size: small;
}

.acc{
    margin-top: 30px;
    border-style: solid;
    border-color: rgba(191, 191, 191, .5);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    display:flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding:30px;
    padding-left:0;
    min-width: auto;
    font-size: 1.3rem;
}

.createAcc {
    font-weight: 550;
    font-size: medium;
    padding-left:50px;
    padding-right:50px;
    padding-top: 15px;
    padding-bottom: 15px;
    width:fit-content;
    background-color: darkolivegreen;
    color: white;
    border-radius: 5px;
}

